@font-face{
    font-family: Open-Sans;
    src: "../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf";
}

@font-face{
    font-family: PT-Sans-Narrow;
    src: "../fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf";
    font-weight: normal;
}

@font-face{
    font-family: PT-Sans-Narrow;
    src: "../fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf";
    font-weight: bold;
}

:root{
    --DARK: #1A100E;
    --GREENISH: #3B4D25;
    --ORANGISH: #C14325; 
    --YELLOWISH: #F39220; 
    --WHITE: #F2F2F4; 
}

.navbar{
    background-color: var(--DARK);
}
.navbar.scrolling-navbar {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-toggler-icon{
}
.nav-item{
    margin: 10px 15px; 

    font-family: PT-Sans-Narrow, sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-link{
    color: var(--WHITE);
}
.nav-link:hover{
    color: var(--YELLOWISH);
}

.parallax-bg{
    background-image: url('../media/back_img_1H.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: PT-Sans-Narrow, sans-serif;
    color: var(--WHITE);
}

h5{
    font-family: Open-Sans, sans-serif;
    color: var(--WHITE);
    letter-spacing: 3px;
}

.glass{
    -moz-background-color: var(--GREENISH);
    background-color: #11111133;
    -moz-opacity: .2;
    opacity: 1;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.btn-neutro{
    background-color: var(--WHITE);
    color: var(--ORANGISH);
    transition: all .2s;
}

.btn-neutro:hover, .btn-destaque:hover{
    background-color: var(--ORANGISH);
    color: var(--WHITE) !important;
}

.btn-destaque{
    font-family: PT-Sans-Narrow, sans-serif;
    
    text-transform: uppercase;
    background-color: var(--YELLOWISH);
    color: var(--WHITE) !important;
    transition: all .2s;
}

footer{
    background-image: url("../media/textura_1.png");
    background-repeat: repeat;
    background-size: 150px;
}

footer hr{
    background-color: var(--YELLOWISH);
}